{% extends 'base.html' %}

{% block content %}
    <br><br>
    <div class="col-lg-8 col-sm-12">
        <form class="form-horizontal" action="{% url 'loginsys:edit_user' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="control-label" for="first_name">Имя</label>
            <input class="form-control" type="text" id="first_name" name="first_name" value="{{ user.first_name }}">
            <label class="control-label" for="last_name">Фамилия</label>
            <input class="form-control" type="text" id="last_name" name="last_name" value="{{ user.last_name }}"><br>
            <img src="/media/{{ user.profile.image }}" style="max-width: 200px">
            <input type="file" name="image" accept="image/jpeg"><br>
            <input class="btn btn-primary" type="submit" value="Сохранить">
        </form>
    </div>
<br><br>
{% endblock %}