{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
    <br><br>
    <div class="col-lg-6 col-sm-12">
        <h6 class="text-info" style="color: #a1a1a1; font-size: large">Редагувати профіль:</h6>
        <form class="form-horizontal" action="{% url 'loginsys:edit_user' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="control-label" for="email">email</label>
            <input class="form-control" type="text" id="email" name="email" value="{{ user.email }}">
            <label class="control-label" for="first_name">Ім'я</label>
            <input class="form-control" type="text" id="first_name" name="first_name" value="{{ user.first_name }}">
            <label class="control-label" for="last_name">Прізвище</label>
            <input class="form-control" type="text" id="last_name" name="last_name" value="{{ user.last_name }}"><br>
            <img src="/media/{{ user.profile.image }}" style="max-width: 200px">
            <input type="file" name="image" accept="image/jpeg,image/png"><br>
            <input class="btn btn-primary" type="submit" value="Зберегти">
        </form>
    </div>
    <div class="col-lg-4 col-sm-12">
        <h6 class="text-info" style="color: #a1a1a1; font-size: large">Мої підписки:</h6><br>
        {% for organization in organizations %}
            <form class="form-horizontal" id="subscribe_form" action="{% url 'calendar:unsubscribe' %}" method="post">
                {% csrf_token %}
                {% if user.username %}
                    <input type="hidden" name="organization" value="{{ organization.id }}">
                    {% if organization.image %}
                        {% thumbnail organization.image "30x30" format="PNG" crop="" as im %}
                            <a href="{% url 'calendar:filter_by_organization' organization.id %}"><img src="/media/{{ im.url }}" class="img-rounded" height="{{ im.height }}" width="{{ im.width }}"></a>
                        {% endthumbnail %}
                    {% endif %}
                    <a href="{% url 'calendar:filter_by_organization' organization.id %}"><span class="text-info" style="color: #859aff; font-size: larger">{{ organization.name }}</span></a>&nbsp;&nbsp;&nbsp;
                    <input id="subscribe_button" class="inline-block btn btn-default" type="submit" value="Відписатись">
                {% endif %}
            </form><br>
        {% endfor %}
    </div>
<br><br>
{% endblock %}