{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
    <br><br>
    <div class="col-lg-6 col-sm-12">
        <h6 class="text-info" style="color: #a1a1a1; font-size: large">Редагувати профіль:</h6>
        <form class="form-horizontal" action="{% url 'loginsys:edit_user' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Зберегти">
            <br><br><br>
        </form>
    </div>
    <div class="col-lg-6 col-sm-12">
        <h6 class="text-info" style="color: #a1a1a1; font-size: large">Мої підписки:</h6><br>
        {% for organization in organizations %}
            <form class="form-horizontal" id="subscribe_form" action="{% url 'calendar:unsubscribe' %}" method="post">
                {% csrf_token %}
                {% if user.username %}
                    <input type="hidden" name="organization" value="{{ organization.id }}">
                    {% if organization.image %}
                        {% thumbnail organization.image "30x30" format="PNG" crop="" as im %}
                            <a href="{% url 'calendar:filter_by_organization' organization.id %}"><img src="/media/{{ im.url }}" class="img-rounded" height="{{ im.height }}" width="{{ im.width }}"></a>
                        {% endthumbnail %}
                    {% endif %}
                    <a href="{% url 'calendar:filter_by_organization' organization.id %}"><span class="text-info" style="color: #859aff; font-size: larger">{{ organization.name }}</span></a>&nbsp;&nbsp;&nbsp;
                    <input id="subscribe_button" class="inline-block btn btn-default" type="submit" value="Відписатись">
                {% endif %}
            </form><br>
        {% endfor %}
        <br><br>
    </div>
    <script type="text/javascript">
        (function b(c) {
	        var d = /Змінити:/mig;
	        [].forEach.call(c.childNodes, function(a) {
	            3 == a.nodeType && (a.data = a.data.replace(d, ""));
	            1 == a.nodeType && b(a)
	        })

	    })(document.body);

        $('#id_image').before('<img src="/media/{{ user.profile.image }}" style="max-width: 200px"><br>Змінити:').attr('accept', 'image/jpeg,image/png');
        $('p').find('a').remove();
        window.addEventListener("DOMContentLoaded", function() {



	});
</script>
{% endblock %}