{% extends 'base.html' %}
{% block content %}
<br><br>
<div class="col-lg-8 col-sm-12">
    <form class="form-horizontal" action="{% url 'loginsys:registration' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <br>
        <input id="reg" type="submit" value="Зареєструватися">
    </form>
    <br>
    <script type="text/javascript">
        $("label").addClass("control-label");
        $("input").addClass("form-control");
        $(".helptext").after("<br>");
        $("#reg").addClass("btn btn-primary");
        $("#reg").removeClass("form-control");
        $('label:contains("Ім\'я користувача:")').html("Логін:");
        $('.errorlist').addClass("error-login");
    </script>
</div>

{% endblock %}