{% extends 'base.html' %}
{% load ulogin_tags %}
{% block content %}
<br><br>
<div class="col-lg-8 col-sm-12">
    <form class="form-horizontal" action="{% url 'loginsys:registration' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <br>
        <input id="reg" type="submit" value="Зарегистрироваться" style="float: left; margin-right: 20px;">
        <script src="//ulogin.ru/js/ulogin.js"></script>
        <div id="uLogin_baa243fe" data-uloginid="baa243fe">{% ulogin_widget %}</div>
    </form>
    <br>
    <script type="text/javascript">
        $("label").addClass("control-label");
        $("input").addClass("form-control");
        $(".helptext").after("<br>");
        $("#reg").addClass("btn btn-primary");
        $("#reg").removeClass("form-control");
        $("label:contains('Имя пользователя:')").html("Логин:");
    </script>
</div>

{% endblock %}