{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="ua">
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106618032-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());

        gtag('config', 'UA-106618032-1');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link rel="shortcut icon" type="image/png" href="/media/images/events_calendar/logo_50x50.png">
    <link href="{% static 'bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
    {% block add_head %}
    {% endblock %}
    <title>{{ page_header }} | Календар подій КПІ</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu" aria-expanded="true">
            <span class="sr-only">Відкрити навігацію</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="{% url 'calendar:clear_filters' %}"><img style="padding-left: 15px;" src="/media/images/events_calendar/logo_50x50_header.png">
            </a>&nbsp;<span style="font-size: 10px; color: whitesmoke; position: absolute; padding-top: 5px;">beta</span>

        <span class="glyphicon glyphicon-filter navbar-toggle" data-toggle="collapse" data-target="#filters" aria-expanded="true"
              style="padding: 8px; padding-top: 7px; cursor: pointer;" title="Відкрити фільтри"></span>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="responsive-menu">
        <ul class="nav navbar-nav navbar-left">
            <li>
                <form class="navbar-form" method="get" action="{% url 'calendar:searching_results' %}">
                    <div class="form-group" style="padding-top: 5px;">
                        &nbsp;&nbsp;&nbsp;<input type="text" class="form-control" style="height: 25px; " placeholder="Пошук" name="text">
                    </div>
                </form>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.username %}
                <li>
                    {% if user.username %}
                        <a href="{% url 'calendar:suggest_an_event' %}" style="font-size: 40px; padding-top: 15px;"><span title="Запропонувати подію">+</span></a>
                    {% endif %}
                </li>
                <li>
                    {% thumbnail user.profile.image "30x30" format="PNG" crop="" as im %}
                        <img src="/media/{{ im.url }}" class="img-rounded" width="{{ im.width }}" height="{{ im.height }}" style="margin-top: 10px; float: left;">
                    {% endthumbnail %}
                    <a href="{% url 'loginsys:edit_user' %}" style="padding-left: 40px;">{{ user.first_name }}</a>
                </li>
                {% if user.profile.organization %}
                    {% thumbnail user.profile.organization.image "30x30" format="PNG" crop="" as im %}
                        <a href="{% url 'calendar:organization_events' %}"><img src="/media/{{ im.url }}" class="img-rounded" width="{{ im.width }}" height="{{ im.height }}" style="margin-top: 10px; float: left;"></a>
                    {% endthumbnail %}
                    <li>
                        <a href="{% url 'calendar:organization_events' %}">{{ user.profile.organization.name }}</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'loginsys:logout' %}">Вийти</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'loginsys:login' %}" style="font-size: 40px; padding-top: 15px;"><span title="Запропонувати подію(Потрібна реєстрація)">+</span></a>
                </li>
                <li>
                    <a href="{% url 'loginsys:login' %}">Вхід і реєстрація</a>
                </li>
            {% endif %}
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <br><br>
    {% block content %}{% endblock %}
</div>
<footer id="footer" class="footer"><!--Footer-->
    <div class="container" >
        <p style="color: whitesmoke; padding-top: 12px; margin-bottom: 2px; text-align: center;">[ З усіх питань і верифікацією організації звертайтеся за адресою: <b>eventsKpi@gmail.com</b> ]</p>
        <p style="color: whitesmoke; margin-bottom: 2px; text-align: center;">[ Developed by <a href="https://www.facebook.com/profile.php?id=100011288523701" target="_blank" style="color: whitesmoke;"><b>Olexiy Yefimenko</b></a> olexiyyefimenko@gmail.com. Powered and hosted by <a href="https://hub.kpi.ua" target="_blank" style="color: whitesmoke"><b>KPI hub</b></a> ]</p>
        <p style="color: whitesmoke; text-align: center;">[ &#9400; <b>KPI events</b> ]</p>
    </div>
</footer>
<script type="text/javascript">
    function footer() {
        if ($(document).height() <= $(window).height()){
            $("footer.footer").addClass("navbar-fixed-bottom");
        }else {
            $("footer.footer").removeClass("navbar-fixed-bottom");
        }
    }
    $(document).ready(function () {
        footer();
    });
    footer();
    setInterval('footer()', 1000);
</script>
</body>
</html>