
{% extends 'base.html' %}

{% block content %}
{% if user.username %}

    <span class="title-font"><a href="{% url 'calendar:home' %}">Все события</a></span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <span class="title-font"><a href="{% url 'calendar:filter_by_signed_organizations' %}">Моя лента событий</a></span>

    <br>
    <br>
{% endif %}
    <span class="text-info" style="color: #a1a1a1">{{ type }}</span>
    <div class="row row-size">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            {% if type != 'Моя лента событий' %}
                <form class="form-inline" method="post" action="{% url 'calendar:home' %}">
            {% else %}
                <form class="form-inline" method="post" action="{% url 'calendar:filter_by_signed_organizations' %}">
            {% endif %}

            {% csrf_token %}
                <div class="row row-size">
                        <select class="form-control" name="category_id">
                            {% if current_category == None %}
                                <option selected>По всем категориям</option>
                                {% for category in categories %}
                                    <option>{{ category.name }}</option>
                                {% endfor %}
                            {% else %}
                                <option>По всем категориям</option>
                                <option selected>{{ current_category.name }}</option>
                                {% for category in categories %}
                                    <option>{{ category.name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                        <input type="submit" class="btn btn-primary" value="Отфильтровать">
                </div>


            </form>
        </div>
    </div>

{% for event in events %}
<div class="row row-size" >
    <div class=" col-lg-3 col-md-4 col-sm-4 col-xs-12">
        {% if event.image != '' %}
        <a href="{% url 'calendar:details' event.id %}"><img src="/media/{{ event.image }}" class="event-image"></a>
        {% endif %}
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="text">
            <span class="title-font"><a href="{% url 'calendar:details' event.id %}">{{ event.name }}</a></span><br>
            <span class="text-info" style="color: #a1a1a1">{{ event.start_date }}</span>
            <p class="description-font" style="margin-bottom: 10px; margin-top: 10px">{{ event.description|truncatechars:200 }}</p>
            <h6 class="text-info" style="color: #a1a1a1; font-size: large">{{ event.category }}</h6>
            {% if event.creator.profile.organization.image %}
            <img src="/media/{{ event.creator.profile.organization.image }}" style="height: 30px; width: 30px;" class="img-rounded";>
            {% endif %}
            <span class="text-info" style="color: #859aff; font-size: larger">{{ event.creator.profile.organization.name }}</span>
        </div>
    </div>
</div>

<br>
{% endfor %}
<br><br>

<div class="row">
    {% if type == 'Моя лента событий' %}
        <div class="col-lg-8 col-sm-12">
            <center>
                <ul class="pagination">
                {% if events.has_previous %}
                    <li class="arrow"><a href="my_feed/page/{{ events.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="arrow unavailable"><a href="">&laquo;</a></li>
                {% endif %}
                {% for page in events.paginator.page_range %}
                    {% if page == events.number %}
                        <li class="active"><a href="my_feed/page/{{ page }}">{{ page }}</a></li>
                    {% else %}
                        <li><a href="my_feed/page/{{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if events.has_next %}
                    <li class="arrow"><a href="my_feed/page/{{ events.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="arrow unavailable"><a href="">&raquo;</a></li>
                {% endif %}
                </ul>
            </center>
        </div>
    {% else %}
        <div class="col-lg-8 col-sm-12">
            <center>
                <ul class="pagination">
                {% if events.has_previous %}
                    <li class="arrow"><a href="/page/{{ events.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="arrow unavailable"><a href="">&laquo;</a></li>
                {% endif %}
                {% for page in events.paginator.page_range %}
                    {% if page == events.number %}
                        <li class="active"><a href="/page/{{ page }}">{{ page }}</a></li>
                    {% else %}
                        <li><a href="/page/{{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if events.has_next %}
                    <li class="arrow"><a href="/page/{{ events.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="arrow unavailable"><a href="">&raquo;</a></li>
                {% endif %}
                </ul>
            </center>
        </div>
    {% endif %}
</div>
{% endblock %}