{% load thumbnail %}
{% for comment in comments %}
<div class="row">
    <div class="col-lg-8 col-sm-8">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            {% thumbnail comment.creator.profile.image "40x40" format="PNG" crop="" as im %}
                <img src="/media/{{ im.url }}" class="img-rounded" width="{{ im.width }}" height="{{ im.height }}" style="margin-top: 5px">
            {% endthumbnail %}
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="cursor: default; margin-left: 15px">
            <span class="text-info">{{ comment.creator.first_name }} {{ comment.creator.last_name }}</span><br>
            <span class="text-comment">{{ comment.text }}</span><br>
            <span class="date-comment">{{ comment.time }}</span><br>
            {%  if user == comment.creator or user.is_staff %}
            <button onclick="AjaxRemoveComment()">Видалити</button><br>
                <script type="text/javascript">
                    function AjaxRemoveComment() {
                        $.ajax({
                            url: "{% url 'calendar:remove_comment' comment.pk %}",
                            type: 'POST',
                            data: {
                                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
                        });
                        updateComments();
                    }
                </script>
            {%  endif %}
        </div>


    </div>

</div><br>
{% endfor %}
<script type="text/javascript">
    footer();
</script>
