{% extends 'base.html' %}

{% block content %}
<br><br>
<div class="col-lg-6 col-sm-8 col-xs-12">
    {% if error %}
        <span style="color: red">{{ error }}</span>
    {% endif %}
    <form class="form-horizontal" method="post" action="{% url 'calendar:create_event' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input required type="text" class="form-control" id="name" name="name" placeholder="Назва (Обов'язкове поле)"><br>
        <textarea required rows="15" class="form-control" placeholder="Опис події (Обов'язкове поле)" name="description" style="max-width: 100%;"></textarea><br>
        <label class="text-info">Картинка події:</label>
        <input type="file" name="image" accept="image/jpeg,image/png" class="file-upload"><br>
        <label class="text-info">Дата початку (Обов'язкове поле):</label>
        <input required type="datetime-local" name="start_date" class="form-control"><br>
        <label class="text-info">Дата закінчення:</label>
        <input type="datetime-local" name="end_date" class="form-control"><br>
        <label class="text-info">Категорія (Обов'язкове поле):</label>
        <select required class="form-control" name="category">
            <option>----------</option>
            {% for category in categories %}
                <option>{{ category.name }}</option>
            {% endfor %}
        </select><br>
        <input type="text" class="form-control" name="place_of_event" placeholder="Місце події"><br>
        <input type="text" class="form-control" name="vk_link" placeholder="Посилання вк"><br>
        <input type="text" class="form-control" name="fb_link" placeholder="Посилання fb"><br>
        <input type="submit" value="Опублікувати" class="btn btn-primary">
    </form>
</div>
<br><br><br>
{% endblock %}