{% extends 'base.html' %}

{% block content %}

<div class="col-lg-6 col-sm-8 col-xs-12">
    <form class="form-horizontal" method="post" action="{% url 'calendar:edit_event' event.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" class="form-control" name="name" placeholder="Название" value="{{ event.name }}"><br>
        <textarea class="form-control" placeholder="Описание" name="description" style="max-width: 100%;" >{{ event.description }}</textarea><br>
        <label class="text-info">Картинка события:</label><br>
        <img src="/media/{{ event.image }}" style="max-width: 200px"><br><br>
        <input type="file" name="image" accept="image/jpeg,image/png" class="file-upload"><br>
        <label class="text-info">Дата начала:</label>&nbsp;&nbsp;&nbsp;<span class="text-info">{{ event.start_date }}</span>
        <input type="datetime-local" name="start_date" class="form-control"><br>
        <label class="text-info">Дата окончания:</label>
        {% if event.end_date != None %}
        &nbsp;&nbsp;&nbsp;<span class="text-info">{{ event.end_date }}</span>
        {% endif %}
        <input type="datetime-local" name="end_date" class="form-control"><br>
        <label class="text-info">Категория:</label>
        <select class="form-control" name="category">
            <option>{{ event.category.name }}</option>
            {% for category in categories %}
                <option>{{ category.name }}</option>
            {% endfor %}
        </select><br>
        {% if event.place_of_event != None %}
        <input type="text" class="form-control" name="place_of_event" placeholder="Место события" value="{{ event.place_of_event }}"><br>
        {% else %}
        <input type="text" class="form-control" name="place_of_event" placeholder="Место события"><br>
        {% endif %}

        {% if event.vk_link != None %}
        <input type="text" class="form-control" name="vk_link" placeholder="Ссылка вк" value="{{ event.vk_link }}"><br>
        {% else %}
        <input type="text" class="form-control" name="vk_link" placeholder="Ссылка вк"><br>
        {% endif %}

        {% if event.fb_link != None %}
        <input type="text" class="form-control" name="fb_link" placeholder="Ссылка fb" value="{{ event.fb_link }}"><br>
        {% else %}
        <input type="text" class="form-control" name="fb_link" placeholder="Ссылка fb"><br>
        {% endif %}


        <input type="submit" value="Сохранить" class="btn btn-primary">
    </form>
</div>
<br><br><br>

{% endblock %}