{% extends 'base.html' %}

{% block content %}
    <br><br>
    <div class="container">
        <div class="col-lg-10 col-sm-12 col-xs-12">
            <h2 style="text-align: center;">Найчастіші запитання</h2>
            <p><b>Q: Як створити свою власну стрічку подій?</b></p>
            <p>A: Для цього достатньо клікнути на назву події, а потім на кнопку “підписатись”.
                Ваша стрічка подій буде складатись з усіх подій, на які ви підписались. </p>
            <p><b>Зауважте</b>: для персональної стрічки необхідно бути зареєстрованим користувачем.</p>
            <br>
            <p><b>Q: Як підписатись/відписатись на всі події організації?</b></p>
            <p>A: Для цього необхідно клікнути на назву організації,
                а потім на кнопку “Підписатись на всі події”.
                У Вашу персональну стрічку буде додано всі події від цієї організації.  </p>
            <br>
            <p><b>Q: Де я можу знайти перелік усіх організацій, які зараз зареєстровані на сайті?</b></p>
            <p>A: Перелік організацій розміщений на вкладці “організації” в основній частині сайту.
                Доступ є у зареєстрованих користувачів.</p>
            <br>
            <p><b>Q: Як легко додати подію у свій Google calendar?</b></p>
            <p>A: Для цього достатньо клікнути на назву події, а потім на кнопку “Додати в Google”.
                Google Calendar запитає у вас дозвіл на додавання події та уточнить в який акаунт необхідно її додати.
                Все, після цього подія з'явиться у вашому календарі, а на сайті кнопка зміниться на “Додано в Google”.</p>
            <br>
            <p><b>Q: Як скинути всі фільтри в один клік?</b></p>
            <p>А: Для цього достатньо натиснути на наш логотип у верхній частині сайту</p>
            <br>
            <p><b>Q: Чи можу я додати подію на сайт?</b></p>
            <p>A: Так, для цього достатньо зареєструватись на сайті.</p>
            <br>
            <p><b>Q: Як додати на сайт власну подію?</b></p>
            <p>A: Додати подію може зареєстрований користувач. Потрібно натиснути “+” на верхній панелі та заповнити відповідні поля.
                Після модерації адміністратором подію буде розміщено на сайті.</p>
            <br>
            <p><b>Q: Я представник організації і хотів би додавати події від її імені. Що для цього потрібно?</b></p>
            <p>A: Необхідно бути зареєстрованим користувачем та пройти верифікацію організації.</p>
            <br>
            <p><b>Q: Як організації пройти верифікацію?</b></p>
            <p>A: Напишіть нам нам пошту <b>eventsKpi@gmail.com</b> листа з темою “Додати організацію”,
                коротко розкажіть про свою діяльність та залиште свої контакти.
                Ми обов'язково з вами зв'яжемось.
                А поки організація проходить верифікацію -
                ви може запропонувати подію на модерацію через “+” нашим адміністраторам.</p>
            <br>
            <p><b>Q: Як стати адміністратором KPIevents?</b></p>
            <p>A: Напишіть нам нам пошту <b>eventsKpi@gmail.com</b> листа з темою “Хочу бути адміністратором”,
                коротко розкажіть про себе та залиште свої контакти.</p>
            <br>
        </div>
    </div>
<br><br><br><br>
{% endblock %}