
{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}


    <div class="row row-fluid">
        <br><br>
        <div class="col-lg-2 col-md-2 col-xs-12 collapse navbar-collapse" id="filters">


            <br><br>


            <b>По даті:</b>
            {% if organization.link_to_organization %}
                <form action="{% url 'calendar:filter_by_organization' organization.link_to_organization %}" method="post">
            {% else %}
                <form action="{% url 'calendar:filter_by_organization' organization.id %}" method="post">
            {% endif %}
            {% if current_date == '1' %}
                <input class="radio-inline" type="radio" name="date_filter" value="1" checked> Найближчі події<br>
                <input class="radio-inline" type="radio" name="date_filter" value="3"> Події на сьогодні<br>
                <input class="radio-inline" type="radio" name="date_filter" value="4"> Події на тиждень<br>
                <input class="radio-inline" type="radio" name="date_filter" value="2"> Минулі події<br>
            {% elif  current_date == '2'%}
                <input class="radio-inline" type="radio" name="date_filter" value="1"> Найближчі події<br>
                <input class="radio-inline" type="radio" name="date_filter" value="3"> Події на сьогодні<br>
                <input class="radio-inline" type="radio" name="date_filter" value="4"> Події на тиждень<br>
                <input class="radio-inline" type="radio" name="date_filter" value="2" checked> Минулі події<br>
            {% elif current_date == '3' %}
                <input class="radio-inline" type="radio" name="date_filter" value="1"> Найближчі події<br>
                <input class="radio-inline" type="radio" name="date_filter" value="3" checked> Події на сьогодні<br>
                <input class="radio-inline" type="radio" name="date_filter" value="4"> Події на тиждень<br>
                <input class="radio-inline" type="radio" name="date_filter" value="2"> Минулі події<br>
            {% elif current_date == '4' %}
                <input class="radio-inline" type="radio" name="date_filter" value="1"> Найближчі події<br>
                <input class="radio-inline" type="radio" name="date_filter" value="3"> Події на сьогодні<br>
                <input class="radio-inline" type="radio" name="date_filter" value="4" checked> Події на тиждень<br>
                <input class="radio-inline" type="radio" name="date_filter" value="2"> Минулі події<br>
            {% endif %}


            <br>
            <b>За категоріями:</b><br>
            {% csrf_token %}
            {% for category in categories %}
                {% if category in current_categories %}
                    <input class="checkbox-inline" type="checkbox" name="{{ category.name }}" value="{{ category.id }}" checked> {{ category.name }}<br>
                {% else %}
                    <input class="checkbox-inline" type="checkbox" name="{{ category.name }}" value="{{ category.id }}"> {{ category.name }}<br>
                {% endif %}
            {% endfor %}
            <br>
            <input type="submit" value="Фільтрувати" class="btn btn-primary btn-details">
            </form>
            <span class="text-info" style="color: #a1a1a1;">{{ info_filter }}</span>
            <br><br>
        </div>
        <div class="col-lg-10 col-md-10 col-xs-12">
            <div class="row">
                <form action="{% url 'calendar:subscribe_on_organization' organization.id %}" method="post">
                    <span class="text-info" style="color: #a1a1a1; font-size: large">Список подій від: &nbsp;&nbsp;</span>
                    {% if organization.image %}
                        {% thumbnail organization.image "30x30" format="PNG" crop="" as im %}
                            <img src="/media/{{ im.url }}" class="img-rounded" height="{{ im.height }}" width="{{ im.width }}">
                        {% endthumbnail %}
                    {% endif %}
                    &nbsp;&nbsp;<span class="title-font description-font" style="font-size: large;">{{ organization.name }}</span>
                    {% if user.username %}
                        {% csrf_token %}
                        {% if organization in user.profile.signed_organizations.all %}
                            <input type="hidden" name="sub" value="Unsubscribe">
                            &nbsp;&nbsp;<input id="subscribe_button" class="btn btn-default" type="submit" value="Відписатись від подій">
                        {% else %}
                            <input type="hidden" name="sub" value="Subscribe">
                            &nbsp;&nbsp;<input id="subscribe_button" class="btn btn-primary" type="submit" value="Підписатися на всі події">
                        {% endif %}
                    {% endif %}

                </form>

            </div>
            <br>
            {% for event in events %}
                <div class="row row-fluid">
                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
                        {% if event.image != '' %}
                            <a href="{% url 'calendar:details' event.id %}">
                                {% thumbnail event.image "400x300" format="PNG" crop="" as im %}
                                    <img src="/media/{{ im.url }}" class="event-image">
                                {% endthumbnail %}
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                        <div class="text">
                            <span class="title-font main-text"><a href="{% url 'calendar:details' event.id %}">{{ event.name }}</a></span>&nbsp;
                            {% if request.user.profile.organization == event.creator %}
                                <a style="position: absolute;" href="{% url 'calendar:edit_event' event.id %}"><span title="Редагувати" class="glyphicon glyphicon-pencil"></span></a>
                            {% endif %}<br>
                            {% if event.creator.image %}
                                {% thumbnail event.creator.image "18x18" format="PNG" crop="" as im %}
                                    <img src="/media/{{ im.url }}" class="img-rounded" width="{{ im.width }}" height="{{ im.height }}">
                                {% endthumbnail %}
                            {% endif %}
                            {% if event.creator.link_to_organization != None %}
                                <a href="/{{ event.creator.link_to_organization }}">
                            {% else %}
                                <a href="/{{ event.creator.id }}">
                            {% endif %}
                            {{ event.creator.name }}</a> <span class="secondary-text" >&#8226; {{ event.category.name }}</span><br>


                            <span class="glyphicon glyphicon-time icon-secondary" style="padding-top: 5px;"></span>
                            <span class="secondary-text">{{ event.start_date }}</span>
                            {% if event.end_date.month == event.start_date.month and event.end_date.day == event.start_date.day %}
                                <span class="secondary-text"> - {{ event.end_date.hour }}:{% if event.end_date.minute < 10 %}0{{event.end_date.minute}}{% else %}{{event.end_date.minute}}{% endif %}</span>
                            {% elif event.end_date %}
                                <span class="secondary-text"> - {{ event.end_date }}</span>
                            {% endif %}
                            <br>

                            {% if event.place_of_event %}
                                <span class="glyphicon glyphicon-map-marker icon-secondary"></span>
                                <span class="secondary-text">{{ event.place_of_event }}</span><br>
                            {% endif %}
                            <p class="description-font" style="margin-bottom: 10px; margin-top: 10px">{{ event.description|truncatechars:300 }}</p>
                        </div>
                    </div>
                </div>

                <br><br>
            {% endfor %}
        </div>
    </div>
<br><br>
    <div class="row">
        <div class="col-lg-8 col-sm-12" style="text-align: center;">
                <ul class="pagination pagination-sm">
                    {% if page_obj.has_previous %}
                        <li><a href="/{% if organization.link_to_organization %}
{{ organization.link_to_organization }}{% else %}{{ organization.id }}{% endif %}?{{ page_obj.previous_page_number.querystring }}">&larr;</a>
                            {% else %}
                        <li class="disabled"><a>&larr;</a>
                    {% endif %}

                    {% for page in page_obj.pages %}
                        <li {% if page == page_obj.number %}class="active"{% endif %}>
                        {% if not page %}<li class="disabled"><a>...</a>
                        {% else %}
                            {% if page == page_obj.number %}
                                <a>{{ page }}</a>
                            {% else %}
                                <a href="/{% if organization.link_to_organization %}
{{ organization.link_to_organization }}{% else %}{{ organization.id }}{% endif %}?page={{ page }}">{{ page }}</a>
                            {% endif %}
                        {% endif %}
                    </li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li><a href="/{% if organization.link_to_organization %}
{{ organization.link_to_organization }}{% else %}{{ organization.id }}{% endif %}?{{ page_obj.next_page_number.querystring }}">&rarr;</a>
                            {% else %}
                        <li class="disabled"><a>&rarr;</a>
                    {% endif %}
                </ul>
            </div>

    </div>
{% endblock %}