
{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}


    <div class="row row-size">
    <br>
        <h3 class="text-info" style="color: #313131; ">Запропоновані:</h3><br><br>
        {% for event in events %}
            <div class="row">
                <div class=" col-lg-4 col-md-5 col-sm-5 col-xs-12">
                    {% if event.image != '' %}
                        {% thumbnail event.image "400x300" format="PNG" crop="" as im %}
                            <img src="/media/{{ im.url }}" class="event-image">
                        {% endthumbnail %}
                    {% endif %}
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="text">
                        <span class="title-font main-text"><a href="{% url 'calendar:details' event.id %}">{{ event.name }}</a></span><br>
                        <span class="glyphicon glyphicon-time icon-secondary" style="padding-top: 5px;"></span>
                        <span class="secondary-text">{{ event.start_date }}</span>
                        {% if event.end_date.month == event.start_date.month and event.end_date.day == event.start_date.day %}
                            <span class="secondary-text"> - {{ event.end_date.hour }}:{% if event.end_date.minute < 10 %}0{{event.end_date.minute}}{% else %}{{event.end_date.minute}}{% endif %}</span>
                        {% elif event.end_date %}
                            <span class="secondary-text"> - {{ event.end_date }}</span>
                        {% endif %}
                        <br>
                        {% if event.place_of_event %}
                            <span class="glyphicon glyphicon-map-marker icon-secondary"></span>
                            <span class="secondary-text">{{ event.place_of_event }}</span><br>
                        {% endif %}
                        <p class="description-font" style="margin-bottom: 10px; margin-top: 10px">{{ event.description|truncatechars:300 }}</p>
                        <h6 class="text-info" style="color: #a1a1a1; font-size: large">{{ event.category }}</h6>
                        {% if event.creator.profile.image %}
                            {% thumbnail event.creator_user.profile.image "30x30" format="PNG" crop="" as im %}
                                <img src="/media/{{ im.url }}" class="img-rounded" height="{{ im.height }}" width="{{ im.width }}">
                            {% endthumbnail %}
                        {% endif %}
                        <span class="text-info" style="color: #859aff; font-size: larger">{{ event.creator_user.email }}({{ event.creator_user.first_name }} {{ event.creator_user.last_name }})</span><br><br>
                        <a href="{% url 'calendar:edit_proposed_event' event.id %}"><button class="btn btn-primary">Редагувати і опублікувати</button></a>
                        <a href="{% url 'calendar:remove_proposed_event' event.id %}"><button class="btn btn-primary">Видалити</button></a>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>

<br><br>

    <div class="row">
        <div style="text-align: center;">
            {% load i18n %}
            <ul class="pagination pagination-sm">
                {% if page_obj.has_previous %}
                    <li><a href="/proposed_events?{{ page_obj.previous_page_number.querystring }}">&larr;</a>
                        {% else %}
                    <li class="disabled"><a>&larr;</a>
                {% endif %}

                {% for page in page_obj.pages %}
                    <li {% if page == page_obj.number %}class="active"{% endif %}>
                    {% if not page %}<li class="disabled"><a>...</a>
                    {% else %}
                        {% if page == page_obj.number %}
                            <a>{{ page }}</a>
                        {% else %}
                            <a href="/proposed_events?page={{ page }}">{{ page }}</a>
                        {% endif %}
                    {% endif %}
                </li>
                {% endfor %}

                {% if page_obj.has_next %}
                    <li><a href="/proposed_events?{{ page_obj.next_page_number.querystring }}">&rarr;</a>
                        {% else %}
                    <li class="disabled"><a>&rarr;</a>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}